/* ==========================================================================
   Base styles (resets, normalisations, typography)
   ========================================================================== */
/* #region */
/* ------------------------------
    Reset / Normalise
   ------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;

    /* Debug */
    /* outline: 2px solid red; */
}

html,
body {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ------------------------------
    Base Styles
    ------------------------------ */
body {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
}


/* ------------------------------
    Typography
    ------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0 0 var(--spacing-sm);
    line-height: 1.2;
}

/* #endregion */

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.turn {
    font-size: 1.75rem;
    margin-top: 25px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    padding: 50px 350px;
}

.board {

    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid grey;
    gap: 2px;
    padding: 2px;


    background-color: yellow;
    margin: auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    border: 2px solid grey;
    background: lightyellow;
    cursor: pointer;

    font-family: 'Courier New', Courier, monospace
}